* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  background-color: black;
}

#hero {
  width: 100%;
  height: 100vh;
}

#nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
  margin-bottom: 30px;
}

#nav a {
  font-size: 25px;
  text-decoration: none;
}

#nav h4 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
}

#heading h1 {
  font-family: "General Sans Medium";
  line-height: 0.9;
  font-size: 10vw;
  font-weight: 300;
  margin-left: 60px;
  text-transform: uppercase;
  opacity: 0.65;
}

#blocktest {
  width: fit-content;
}

#blocktest h5 {
  text-align: right;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 3.5;
}

#heading #secondh1 {
  margin-left: 300px;
}

#smallheading {
  margin-top: 200px;
  padding-right: 50px;
}

#smallheading h5 {
  text-align: right;
  font-family: "General Sans Medium";
  text-transform: uppercase;
  font-size: 1.1vw;
  font-weight: 400;
  margin-top: .5vw;
}

#herofooter{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px ;
    position: absolute;
    bottom: 2%;
    padding: 0px 3vw;
}

#herofooter a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
}

#herofooter #iconset{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#herofooter .circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: grey;
  border-radius: 50%;
}

#second{
  width: 100%;
  background-color: black;
  padding-top: 200px;
  padding-right: 10vw;
}

.elem{
  position: relative;
  width: 100%;
  border-top: 1px solid #888;
  padding: 2vw 3vw;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elem h1{
  font-size: 8vw;
  text-transform: uppercase;
  opacity: .65;
}

.elem h6{
  font-size: 25px;
  font-weight: 300;
}

.elemlast{
  border-bottom: 1px solid #888;
}

.elem img{
  height: 140%;
  display: none;
  position: absolute;
  object-fit: cover;
  z-index: 9;
}

#about{
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 10vw 5vw;
  padding-left: 30vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  padding-right: 15vw;
  margin-top: 200px;
}

#about img{
  width: 200px;
  margin-left: 5vw;
}

#textabout{
  width: 25rem;

}

#textabout h5{
  font-size: 15px;
  font-weight: 400;
  opacity: .65;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#textabout p{
  font-size: 20px;
  line-height: 1.3;
  opacity: .85;
  margin-bottom: 35px;
}

#textabout a{
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
}

#subscribe{
  width: 100%;
  padding: 30px 40px;
}

#subscribe h5{
  opacity: 0.65;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#subscribe h3{
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}