:root {
  --pri: #f8f4e1;
  --sec: #4e1f00;
  --ter1: #feba17;
  --ter2: #74512d;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./Aeonik-Regular.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./Aeonik-Light.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./Aeonik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}

nav {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: var(--ter1);
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 40px;
  overflow: auto;
  position: absolute;
}

.allElems header{
  height: 300px;
  width: 100%;
  background-color: var(--ter2);
  border-radius: 20px;
}

.allElems .allFeatures{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}

.elem {
  height: 300px;
  width: 250px;
  background-color: #feba17;
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  bottom: 3%;
  right: 5%;
}

.elem:active {
  scale: 0.97;
}

.elem:hover {
  cursor: pointer;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: #4e1f00;
  padding: 40px;
  display: none;
  position: absolute;
}

.back {
  position: absolute;
  right: 5%;
  background-color: var(--ter1);
  padding: 10px 11px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.back:hover {
  cursor: pointer;
}

.back:active {
  scale: 0.97;
}

.to-do-list-full-page h2 {
  font-size: 50px;
  font-weight: 500;
  color: var(--ter1);
}

.to-do-list-full-page .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.to-do-list-full-page .todo-container .addTask {
  height: 100%;
  width: 33%;
  background-color: var(--ter2);
  border-radius: 20px;
}

.to-do-list-full-page .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.to-do-list-full-page .todo-container .addTask form input {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--pri);
  color: var(--sec);
  font-weight: 500;
}

.to-do-list-full-page .todo-container .addTask form textarea {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 25px;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--pri);
  color: var(--sec);
  font-weight: 500;
}

.to-do-list-full-page .todo-container .addTask form button {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 25px;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--ter1);
  transition: all 0.3s ease;
}

.to-do-list-full-page .todo-container .addTask form .mark-imp {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  white-space: nowrap;
}

.mark-imp input {
  scale: 1.7;
}

.mark-imp label {
  font-size: 20px;
  font-weight: 600;
}

.to-do-list-full-page .todo-container .addTask form button:hover {
  cursor: pointer;
}

.to-do-list-full-page .todo-container .addTask form button:active {
  scale: 0.97;
}

.to-do-list-full-page .todo-container .allTask {
  height: 100%;
  width: 65%;
  background-color: var(--ter2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.task {
  width: 100%;
  background-color: var(--pri);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.task h5 {
  color: var(--sec);
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 10px;
}

.task h5 span {
  background-color: red;
  color: var(--pri);
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 11px;
}

.task h5 span.true {
  opacity: 1;
}

.task h5 span.false {
  opacity: 0;
}

.task button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.task button:active {
  scale: 0.97;
}

.daily-planner-full-page h2 {
  font-size: 50px;
  font-weight: 500;
  color: var(--ter1);
}

.daily-planner-full-page .day-planner {
  height: 80%;
  width: 100%;
  background-color: var(--ter2);
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
}

.daily-planner-full-page .day-planner .day-planner-time {
  width: 49%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.daily-planner-full-page .day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 1%;
  font-size: 16px;
  font-weight: 900;
  color: var(--ter1);
}

.daily-planner-full-page .day-planner .day-planner-time input {
  width: 100%;
  padding: 20px 45px;
  background-color: var(--sec);
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 35px;
  padding-top: 30px;
  color: var(--pri);
}

.motivation-full-page {
  position: relative;
}

.motivation-full-page > h1 {
  font-size: 50px;
  color: var(--ter1);
  font-family: aeonik;
}

.motivation-full-page .motivation-container {
  height: 450px;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.motivation-full-page .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--ter1);
  border-radius: 40px;
  padding: 15px;
}

.motivation-1 {
  width: 40%;
  padding: 30px;
  background-color: var(--sec);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motivation-1 h2 {
  font-size: 26px;
  font-weight: 900;
  color: var(--pri);
  text-align: center;
  font-family: aeonik;
}

.motivation-2 {
  margin-top: 20px;
  padding: 15px;
}

.motivation-2 p {
  font-size: 50px;
  font-weight: 900;
  color: var(--sec);
  font-family: aeonik;
}

.motivation-3 {
  padding: 15px;
}

.motivation-3 h2 {
  color: var(--sec);
  font-size: 20px;
  text-align: end;
  text-transform: uppercase;
  font-family: aeonik;
}

.motivation-full-page .motivation-container .motivation-wrapper img {
  position: absolute;
  right: 5%;
  top: 5%;
  height: 80px;
  opacity: 0.5;
}

.pomodoro-timer-full-page {
  position: relative;
}

.pomodoro-timer-full-page h1 {
  font-size: 50px;
  font-family: aeonik;
  font-weight: 900;
  color: var(--ter1);
}

.pomodoro-timer-full-page .pomo-timer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomo-timer h2 {
  font-size: 100px;
  color: var(--ter1);
}

.pomo-timer button {
  background-color: var(--ter1);
  padding: 15px 35px;
  border-radius: 10px;
  margin: 5px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 4px 4px 0px black;
  transition: all ease 0.3s;
  font-weight: 700;
}

.pomo-timer button:active {
  box-shadow: 0px 0px 0px black;
  scale: 1.05;
}

.pomodoro-timer-full-page .session {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--ter1);
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
}
